body{
    margin: 0;
    font-family: Montserrat;
}
.pos0{
    position: relative;
    height: 175px;
    width: 1900px;
}
.Menu{
    position: absolute;
    display: inline-block;
    font-size: 22px;
    margin: 70px 170px;
}
.header_right{
    position: absolute;
    display: inline-block;
    margin-top: 70px;
    padding-left: 1480px;
    word-spacing: 2pc;
    font-size: 22px;
    font-family: Arial;
}
.header_right a{
    text-decoration: none;
    color: lightgrey;
    word-spacing: 2pc;
}
.lawyer img{
    width: 1900px;
    height: 1000px;
    filter: brightness(80%);
}
.container{
    width: 528px;
    height: 614px;
    color: white;
    position: absolute;
    top: 365px;
    left: 150px;
    background-color: #073b5e;
}
.table{
    margin-left: 60px;
    margin-top: 72px;
}
#wait{
    display: block;
    font-size: 18px;
}
#IMPROVE{
    display: block;
    font-size: 54px;
    line-height: 1em;
    letter-spacing: -3px;
}
#GET{
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
    font-family: Arial;
    color: #fbdf00;
    letter-spacing: -0.03em;
    margin-top:22px;
    margin-bottom: 15px;
}
#email{
    display: block;
    height: 70px;
    width: 410px;
    margin-top: 0.5pc;
    padding: 1px 2px;
    border: 0;
}
#button{
    font-size: 18px;
    height: 70px;
    width: 250px;
    margin-top: 1pc;
    padding: 1px 6px;
    background-color: #fbdf00;
    border: none;
    text-align: center;
    font-family: Montserrat;
}
.flex-container{
    display: flex;
    justify-content: center;
    width: 1900px;
    height: 270px;
    text-align: left;
    margin-top: 200px;
    margin-bottom: 170px;
}
.amazing{
    letter-spacing: -0.06em;
    font-weight: bold;
    font-size: 21px;
}
.a2, .a3{
    margin-left: 100px;
}
.flex_container_one, .flex_content_two, .flex_content_three{
    width: 450px;
    margin-left: 100px;
}
.flex_content_one p, .flex_content_two p, .flex_content_three p{
    font-size: 18px;
    margin-top: 12px;
    color: grey;
    height: 120px;
    padding-top: 0.5pc;
    padding-right: 2pc;
    font-weight: bold;
    line-height: 30px;
    font-family: Arial;
    letter-spacing: -0.06em;
}
.quote{
    width: 1900px;
    height: 580px;
    text-align: center;
    background-color: #f4f4f4;
}
#p1{
    font-size: 26px;
    padding-top: 260px;
    margin: 0;
    color: black;
}
#p2{
    margin: 22px;
    color: grey;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10pc;
}
.pos{
    position: relative;
    width: 1900px;
    height: 990px;
    text-align: center;
}
.glass{
    background: url("https://csci571.com/hw/hw3/images/glasses.png") no-repeat  fixed  -320px -5px;
    background-size: 150%;
    height: 990px;
    opacity: 0.3;
    filter: grayscale(100%);
}
.overlay{
    position: absolute;
    width: 1900px;
    top: 80px;
    text-align: center;
    vertical-align: middle;
}
.top{
    text-align: center;
    color: black;
}
#price{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
#afford{
    color: rgb(161,161,161);
    font-size: 18px;
    font-weight: bold;
}
.one{
    background: url("https://csci571.com/hw/hw3/images/grid.png");
    display: inline-block;
    width: 22.33%;
    margin-top: 5pc;
    margin-right: 40px;
    height: 650px;
}
.two{
    background: url("https://csci571.com/hw/hw3/images/grid.png");
    display: inline-block;
    width: 22.33%;
    margin-top: 5pc;
    margin-right: 40px;
    height: 650px;
}
.three{
    background: url("https://csci571.com/hw/hw3/images/grid.png") white center repeat;
    display: inline-block;
    margin-top: 5pc;
    margin-right: 40px;
    height: 650px;
    width: 22.33%;
}
.plan{
    padding-top: 60px;
    line-height: 4;
    vertical-align: middle;
    background-color: white;
    opacity: 0.9;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: -0.06em;
}
.plan_number{
    background-color: white;
    opacity: 0.9;
    line-height: 2.6em;
    height: 520px;
    font-weight: bold;
    color: rgb(119,119,119);
    font-size: 18px;
}
.money{
    background-color: white;
    font-size: 37px;
    font-family: Arial;
    padding-top: 20px;
    line-height: 40px;
    margin-bottom: 25px;
    color: black;
    font-weight: normal;
}
.buy1{
    background-color: rgb(15, 61, 92);
    color: white;
    height: 75px;
    width: 180px;
    margin-top: 1pc;
    margin-bottom: 2pc;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: Montserrat;
    position: absolute;
    top: 675px;
    left: 410px;
    z-index: 100;
    letter-spacing: 0.1em;
}
.buy2{
    background-color: rgb(15, 61, 92);
    color: white;
    height: 75px;
    width: 180px;
    margin-top: 1pc;
    margin-bottom: 2pc;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: Montserrat;
    position: absolute;
    top: 675px;
    left: 845px;
    z-index: 100;
    letter-spacing: 0.1em;
}
.buy3{
    background-color: rgb(15, 61, 92);
    color: white;
    height: 75px;
    width: 180px;
    letter-spacing: 0.1em;
    margin-top: 1pc;
    margin-bottom: 2pc;
    border: 0;
    font-weight: bold;
    font-size: 18px;
    font-family: Montserrat;
    position: absolute;
    top: 675px;
    left: 1277px;
    z-index: 100;
}
.notebook{
    background: url("https://csci571.com/hw/hw3/images/notebook.jpg") no-repeat center;
    height: 600px;
    width: 1900px;
}
.free{
    background-color: #083a5e;
    height: 700px;
    width: 1900px;
    opacity: 0.9;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}
#p3{
    font-size: 34px;
    font-weight: bold;
    font-family: Montserrat;
    color: white;
}
#p4{
    margin: -10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    letter-spacing: -0.04em;
    word-spacing: -0.09em;
    color: white;
}
.button{
    background-color: #fbdf00;
    height: 60px;
    border: none;
    text-align: center;
    width: 225px;
    font-size: 20px;
    word-spacing: 0.1em;
    font-family: Montserrat;
    margin-top: 40px;
}
.end{
    background-color: rgb(28, 36, 47);
    height: 520px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 1900px;
}
.address{
    color: white;
}
#p5{
    font-size: 21px;
    margin: 0;
    font-weight: bold;
}
#p6{
    font-size: 18px;
    color: #919194;
    margin: 13px;
}
.photo a{
    margin-left: 46px;
    padding-right: 9px;
    padding-top: 1pc;
    text-decoration: none;
}
.photo img{
    margin-top: 30px;
    width: 50px;
}
